[Unit]
Description=Call the backup file

[Service]
ExecStart=/usr/local/bin/backup.py
WorkingDirectory=/usr/local/bin/
User=backup

[Install]
WantedBy=default.target
