[Unit]
Description=Call the backup file

[Service]
ExecStart=/usr/local/bin/App-backup-python/backup.py
WorkingDirectory=/usr/local/bin/App-backup-python/
User=backup

[Install]
WantedBy=default.target
