[Unit]
Description=Call the backup file

[Service]
ExecStart=/usr/bin/locale/backup.py
WorkingDirectory=/usr/bin/locale/
User=backup

[Install]
WantedBy=default.target
